Constraints are the rules enforced on data columns on table
These are used to prevent invalid data from being entered into the database
This ensures accuracy and reliability of the data in the database


Constraints can be divided into two main categories

Column Constraints - Constrains the data in a column to adhere to certain conditions. 

Table Constraints - applied to the entire table rather than to an individual column.

Most common column constraints

NOT NULL - Ensures that a column cannot have NULL Value

Unique Constraint - Ensures that all values in a column are different

Primary Key - Uniquely identifies each row/record in a database table

Foreign Key - constrains data based on columns in other tables. 

CHECK Constraint - Ensures that all values in a column satisfy certain conditions

Exclusion Constraint - Ensures that if any two rows are compared on the specified column or expression using the specified operators, not all of these comparisons will return TRUE.

Common Table Constraints

CHECK (Condition) - To check a condition when inserting or updating data
References - to constrain the value stored in the column that must exist ina column in another table.

UNIQUE(Column_list) - forces the values stored in the columns listed inside the parentheses to be unique
PRIMARY KEY(column_list) - Allows you to define the primary key that consists of multiple columns. 
 